<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header">
    <% include templates/header.ejs %>
    </div>
    <div class="main"> 
    <p>Welcome to <%= title %></p>
    </div>
    <div class="footer"> <% include templates/footer.ejs %></div>
  </body>
</html>
