<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" href="stylesheets/demo.css" />
    <link rel="stylesheet" href="stylesheets/normalize.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://mrrio.github.io/jsPDF/dist/jspdf.debug.js"></script>
    <link rel="stylesheet" href="fonts/font-awesome-4.2.0/css/font-awesome.min.css" /> <!-- needed for ruri class for form controls -->
    <script src="javascripts/main.js"></script>
    <!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> -->
<!-- Latest compiled and minified JavaScript -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->
</head>
<body>
<div class="header clearfix">
    <!-- <div class="center"> -->
        <span class="logo"><a href="#"> <span class="yellow">CV</span> Maker </a></span>
        <span class="menu"><a href="#"> About </a></span>
        <span class="menu"><a href="#"> Settings </a></span>
        <span class="menu"><a href="#"> <% include templates/header.ejs %> </a></span>
    <!-- </div> -->
</div>

<div class="main">          <!--////////////////////////////////// BEGIN MAIN //////////////////////////////  -->
        <div class="left">
			<iframe class="preview-pane" type="application/pdf" width="100%" height="100%" 
			frameborder="0" style="position:relative;z-index:999">Unfortunately, your browser does not support PDF preview:(</iframe>
		</div>
        <script>
            var person = <%- JSON.stringify(person) %>;
            preparePDF(person);     // TO DO: MOVE THIS TO MAIN.JS !!!!!!!!!!!
        </script>
    
    <div class="right center">   <!--////////////////////////////////// BEGIN RIGHT DIV //////////////////////////////  -->
    <div class = "work-space">
        <% include templates/work-space.ejs %>
    </div>
    
    <div class="footer">        <!--////////////////////////////////// FOOTER //////////////////////////////  -->
        <% include templates/footer.ejs %>
    </div>
    
    <script src="javascripts/classie.js"></script>
        <script>
        </script>
  </body>
</html>
