
<!--             <span class="input input--isao">
                    <input class="input__field input__field--isao" type="text" id="input-1" name="full_name" value="Alexandru Oat"/>
                    <label class="input__label input__label--isao" for="input-1" data-content="Full name">
                        <span class="input__label-content input__label-content--isao">Full name</span>
                    </label>
            </span>
            <span class="input input--isao">
                    <input class="input__field input__field--isao" type="date" id="input-2" name="born" max="2002-12-31" value="1982-03-23"/>
                    <label class="input__label input__label--isao" for="input-2" data-content="Date of birth">
                        <span class="input__label-content input__label-content--isao">Date of birth</span>
                    </label>
            </span>
            <span class="input input--isao">
                    <input class="input__field input__field--isao" type="email" id="input-3" name="email" value="oat.alexandru@gmail.com"/>
                    <label class="input__label input__label--isao" for="input-3" data-content="E-mail">
                        <span class="input__label-content input__label-content--isao">E-mail</span>
                    </label>
            </span>
            <span class="input input--isao">
                    <input class="input__field input__field--isao" type="text" id="input-4" name="phone" value="+358466360623"/>
                    <label class="input__label input__label--isao" for="input-4" data-content="Phone">
                        <span class="input__label-content input__label-content--isao">Phone</span>
                    </label>
            </span>
       <span class="input input--isao">
                    <input class="input__field input__field--isao" type="text" id="input-5" name="address" value="Rälssintie 16 B 14 Helsinki" />
                    <label class="input__label input__label--isao" for="input-5" data-content="Address">
                        <span class="input__label-content input__label-content--isao">Address</span>
                    </label>
            </span>
            <span class="input input--isao">
                    <input class="input__field input__field--isao" type="text" id="input-6" name="citizenship" value="Moldova" />
                    <label class="input__label input__label--isao" for="input-6" data-content="Citizenship">
                        <span class="input__label-content input__label-content--isao">Citizenship</span>
                    </label>
            </span>
       <span class="input input--isao">
                    <input class="input__field input__field--isao" type="text" id="input-7" name="university" value="Haaga-Helia University of Applied Sciences" />
                    <label class="input__label input__label--isao" for="input-7" data-content="University">
                        <span class="input__label-content input__label-content--isao">University</span>
                    </label>
            </span>
       <span class="input input--isao">
                    <input class="input__field input__field--isao" type="text" id="input-8" name="faculty" value="Business Information Technology" />
                    <label class="input__label input__label--isao" for="input-8" data-content="Faculty">
                        <span class="input__label-content input__label-content--isao">Faculty</span>
                    </label>
            </span> -->

            <!-- Period from <input type="month" name="edu_from" value="2013-08">till <input type="month" name="edu_till" value="2016-12"><br/><br/> -->
<!--             <span class="input input--isao">
                    <input class="input__field input__field--isao" type="text" id="input-9" name="edu_from" value="2013-08" />
                    <label class="input__label input__label--isao" for="input-9" data-content="From (e.g. Aug. 2013)">
                        <span class="input__label-content input__label-content--isao">From (e.g. Aug. 2013)</span>
                    </label>
            </span>
            <span class="input input--isao">
                    <input class="input__field input__field--isao" type="text" id="input-9" name="edu_till" value="2016-08" />
                    <label class="input__label input__label--isao" for="input-9" data-content="Till (e.g. Dec. 2016)">
                        <span class="input__label-content input__label-content--isao">Till (e.g. Dec. 2016)</span>
                    </label>
            </span> -->

<!DOCTYPE html>
<html>
  <head>
  @import url('//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css');

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<!--<script src="//mrrio.github.io/jsPDF/dist/jspdf.debug.js"></script>-->
	<script src="http://mrrio.github.io/jsPDF/dist/jspdf.debug.js"></script>
	<script src="javascripts/pdfmake.min.js" type="text/javascript"></script>
  </head>
  <body>
  <script type="text/javascript">
function encodeImageFileAsURL(cb) {
    return function(){
        var file = this.files[0];
        var reader  = new FileReader();
        reader.onloadend = function () {
            cb(reader.result);
        }
        reader.readAsDataURL(file);
    }
}

$('#inputFileToLoad').change(encodeImageFileAsURL(function(base64Img){
    $('.output')
      .find('textarea')
        .val(base64Img)
        .end()
      .find('a')
        .attr('href', base64Img)
        .text(base64Img)
        .end()
      .find('img')
        .attr('src', base64Img);
}));

  </script>
  <h2>Input</h2>  
<form class="input-group" id="img2b64">
    <input id="inputFileToLoad" type="file" onchange="encodeImageFileAsURL();" />
</form>
            
<hr>
    
<h2>Output</h2>        
<div class="output">
    <textarea class="form-control"></textarea><br>
    <a></a><br><br>
    <img><br>
</div>


</body>
</html>