<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <!-- <link rel="stylesheet/less" type="text/css" href="stylesheets/main.less" /> 
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.6.1/less.min.js"></script>-->

        <!-- CSS -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="stylesheets/index-page.css" />
    <link rel="stylesheet" href="fonts/font-awesome-4.2.0/css/font-awesome.min.css" /> <!-- social icons taken from here -->   
    <!-- ANGULAR FILES -->
    <script src="javascripts/controllers/controllers-index.js"></script>
    <script src="javascripts/directives/directives-index.js"></script>
    <script src="javascripts/main.js"></script>
</head>
<body ng-controller="MainCtrl as main">
<div>
    <header-index></header-index> <!--////////////////////////// HEADER BAR ///////////////////////////////////////-->

    <div class="main"> <!--////////////////////////// MAIN SECTION. BEGIN ///////////////////////////////////////-->
        <div class="central">  
            <a tooltip href="/main" title="Click this logo to start building your resume right away">
                <img src="images/cv-central2.png">                                          <!-- central logo -->
            </a>   
            <h1>CV MAKER</h1>
            build your <span>special</span> resume
        </div>
        <!-- Carousel. BEGIN-->
        <div ng-controller="CarouselCtrl" id="about" class="carousel slide" data-interval="4000" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#about" ng-repeat="slide in slides" data-slide-to="{{slide.index}}" ng-class="{'active': {{slide.index}} === 0}"></li>
            </ol>
            <div class="carousel-inner">
                <div ng-repeat="slide in slides" class="item" ng-class="{'active': $index === 0}">
                    <img ng-src="{{slide.image}}" alt="Different resume types">
                    <div class="carousel-caption">
                        <h4 ng-repeat="description in slide.descriptions">{{description}}</h4>      <!-- 3 texts per slide -->
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#about" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#about" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div> <!-- Carousel. END-->
    </div>

    <div class="central"></div>
    
    <div id="choose-type" class="lower">
                                    <!--////////////////////////// LOWER SECTION. BEGIN ///////////////////////////////////////-->
        <div class="instruction central"> 
            <p>Start by choosing CV format. Click on the suitable model below and start filling in your resume.</p> 
            <p>You can later change CV type (using the Settings tab). </p>
            <p>So far only two models are available. More to come by the end of April</p>
        </div>        
        
        <p class="col-md-3"></p>
        <form method="POST" action="/main">                         <!-- CV model choices. Using POST request to pass cvType -->
            <div class="row">
                <div class="col-md-3">
                    <button type=image name=cvType value="0"><img src="images/type1.png"></button>
                </div>
                <div class="col-md-3"><!-- <div style="position:absolute;left:460px;top: 757px;"> -->
                    <button type=image name=cvType value="1"><img src="images/type0.png"></button>
                </div>
                </div>
            <div class="row" style="padding-top: 30px; padding-left:100px;"> <!-- temporary solution to center 3rd resume model -->
                <div class="col-md-2 col-md-offset-4"><!-- <div style="position:absolute;left:460px;top: 757px;"> -->
                    <button type=image name=cvType value="2"><img src="images/type2.png"></button>
                </div>
            </div>
        </form>
    </div>
                                    
    <footer-index></footer-index><!--////////////////////////// FOOTER SECTION ///////////////////////////////////////-->
    
    <!-- Launch carousel and set its autoplay interval && Activate tooltips-->
    <script>$('.carousel').carousel({interval: 4000});$(document).ready(function(){$('[data-toggle="tooltip"]').tooltip();});</script> 
</div>
</body>
</html>
