&#169; 2016 <a href="https://www.linkedin.com/in/alexandru-oat-49b05b107?trk=nav_responsive_tab_profile">Alexandru Oat</a> 
| 
<a href="https://github.com/midnitehighways/cvmaker">Github</a> 
| 
<a href="mailto:alexandru.oat@gmail.com?Subject=Hei%20Alex" target="_top">oat.alexandru@gmail.com</a> | 
Built with <a href="https://nodejs.org">Node.js</a>