<!-- <div class="header">
  
        <span class="logo"> <a href="#"> <span class="yellow"><img src="images/cv-icon.png" alt="CVmaker" height="20" width="20">CV</span> Maker 
        

</a></span>
        <span class="menu"><a href="#"> About </a></span>
        <span class="menu"><a href="#"> Settings </a></span>
        <span class="menu"><a href="#"> <%= title %> </a></span>
  
</div>
 -->
 <!-- <img src="images/cv-icon.png" alt="CVmaker" height="20" width="20"> -->
<!-- <div class="headmenu">
	<ul>
	  	<li id="logo"><a href="#"><span class="yellow">CV</span> Maker</a></li>
	  	<li><a href="#">About</a></li>
		<li><a href="#settings">Settings</a></li>
	  	<li><a class="active" id="build" href="#personal">Build CV</a></li>
	</ul>
</div> -->
<ul class="tabs-menu center">
    <li ng-class="{ current:menu.isSet(1) }" class="left-side"><a href="" ng-click="menu.setTab(1)"><img src="images/cv-icon.png" height="18" width="18" style="display: inline-block;
    vertical-align: middle; margin-bottom: 2px;"> <span class="yellow">cv</span>maker </a></li>
    <li ng-class="{ current:menu.isSet(7) }"><a href="" ng-click="menu.setTab(7)"><img src="images/settings-icon.png" height="18" width="18" style="display: inline-block;
    vertical-align: middle; margin-bottom: 2px;"> Settings</a></li>
    <li ng-class="{ current:menu.isSet(6) }"><a href="" ng-click="menu.setTab(6)"><img src="images/other-icon.png" height="18" width="18" style="display: inline-block;
    vertical-align: middle; margin-bottom: 2px;"> Other</a></li>
    <li ng-class="{ current:menu.isSet(5) }"><a href="" ng-click="menu.setTab(5)"><img src="images/lang-icon.png" height="18" width="18" style="display: inline-block;
    vertical-align: middle; margin-bottom: 2px;"> Languages</a></li>
    <li ng-class="{ current:menu.isSet(4) }"><a href="" ng-click="menu.setTab(4)"><img src="images/skills-icon.png" height="18" width="18" style="display: inline-block;
    vertical-align: middle; margin-bottom: 2px;"> Skills</a></li>
    <li ng-class="{ current:menu.isSet(3) }"><a href="" ng-click="menu.setTab(3)"><img src="images/job-icon.png" height="14" width="14" style="display: inline-block;
    vertical-align: middle; margin-bottom: 2px;"> Employment</a></li>
    <li ng-class="{ current:menu.isSet(2) }"><a href="" ng-click="menu.setTab(2)"><img src="images/edu-icon.png" height="24" width="24" style="display: inline-block;
    vertical-align: middle; margin-bottom: 2px;">Education </a></li>
    <li ng-class="{ current:menu.isSet(1) }"><a href="" ng-click="menu.setTab(1)"><img src="images/personal.png" height="16" width="16" style="display: inline-block;
    vertical-align: middle; margin-bottom: 2px;"> Personal</a></li>
</ul>
