<!--////////////////////////////////// BEGIN LANGUAGES //////////////////////////////  -->
    <div ng-show="menu.isSet(5)" id="languages" class="tab-content"> 
        <form class="cv-form" action="/add_lang" method="POST">
            <span class="input input--ruri long">
                <input class="input__field input__field--ruri long" type="text" id="input-15" name="lang" />
                <label class="input__label input__label--ruri" for="input-15">
                    <span class="input__label-content input__label-content--ruri">Languages</span>
                </label>
            </span>            
            <div class="buttons"><input id="languages-submit" type="submit" class="my-button icon-save" value="Save form" />
            <input type="button" class="reset my-button icon-reset danger" value="Reset form"/>
            <a href class="get my-button icon-download">Get PDF</a>
            <a href="/clean" class="my-button icon-clean danger">Clean PDF</a></div>
        
        </form>
    <div class="hint">
        <p> Specify your polyglot skills. Just list languages you know in one string, </p>
        <p> or add as many lines as you like providing more details</p>
    </div>

    </div>
