<!--////////////////////////////////// BEGIN PERSONAL //////////////////////////////  -->
    <div ng-show="menu.isSet(1)" id="personal" class="tab-content">
        <form action="/add" class="cv-form" method="POST">    
            <span class="input input--ruri">
                <input class="input__field input__field--ruri" type="text" id="input-1" name="full_name" />
                <label class="input__label input__label--ruri" for="input-1">
                    <span class="input__label-content input__label-content--ruri">Full name</span>
                </label>
            </span>
            <span class="input input--ruri">
                <input class="input__field input__field--ruri" type="text" id="input-2" name="born" max="2002-12-31" onfocus="(this.type='date')" onfocusout="(this.type='text')" />
                <label class="input__label input__label--ruri" for="input-2">
                    <span class="input__label-content input__label-content--ruri">Date of birth</span>
                </label>
            </span>
            <span class="input input--ruri">
                <input class="input__field input__field--ruri" type="email" id="input-3" name="email" />
                <label class="input__label input__label--ruri" for="input-3">
                    <span class="input__label-content input__label-content--ruri">E-mail</span>
                </label>
            </span>
            <span class="input input--ruri">
                <input class="input__field input__field--ruri" type="text" id="input-4" name="phone" />
                <label class="input__label input__label--ruri" for="input-4">
                    <span class="input__label-content input__label-content--ruri">Phone</span>
                </label>
            </span>
            <span class="input input--ruri">
                <input class="input__field input__field--ruri" type="text" id="input-5" name="address" />
                <label class="input__label input__label--ruri" for="input-5">
                    <span class="input__label-content input__label-content--ruri">Address</span>
                </label>
            </span>
            <span class="input input--ruri">
                <input class="input__field input__field--ruri" type="text" id="input-6" name="citizenship" />
                <label class="input__label input__label--ruri" for="input-6">
                    <span class="input__label-content input__label-content--ruri">Citizenship</span>
                </label>
            </span><br/>
            <!-- styling the file-input button -->
            <div class="upload-section">
                <span class="fileUpload my-button normal">
                    Add your photo <input id="inputFileToLoad" class="upload" type="file" />
                </span>
                <input type="hidden" name="pic" id="pic" />
                <img width="50" id="imgTest"></img>
            </div>
            <div class="buttons"><input type="submit" class="my-button icon-save" value="Save form" />
            <input type="button" class="reset my-button icon-reset danger" value="Reset form"/>
            <a href class="get my-button icon-download">Get PDF</a>
            <a href="/clean" class="my-button icon-clean danger">Clean PDF</a></div>
        </form>
            
    </div>
