<div class="tab">
    <% include personal.ejs %>
    <!-- <personal></personal> -->
    <% include education.ejs %>
    <!-- <education></education> -->
    <% include employment.ejs %>
    <!-- <employment></employment> -->
    <% include skills.ejs %>
    <% include languages.ejs %>
    <% include other.ejs %>
    
    <div ng-show="menu.isSet(7)" id="settings" class="tab-content">        
        hello, settings!<br> Settings soon to be here (choose type of resume, spaces between lines and sections, rename sections, change photo size, etc.)
    </div>
</div>
