<!--////////////////////////// FOOTER SECTION. BEGIN ///////////////////////////////////////-->
	<div class="footer">
		<div>
	        &#169; 2016 <a href="https://www.linkedin.com/in/alexandru-oat-49b05b107?trk=nav_responsive_tab_profile">Alexandru Oat</a> 
	        | <a href="https://github.com/midnitehighways/cvmaker">Github</a> | <a href="mailto:alexandru.oat@gmail.com?Subject=Hei%20Alex" 
	        target="_top">oat.alexandru@gmail.com</a> | Built with <a href="https://nodejs.org">Node.js</a>
	        &nbsp&nbsp&nbsp&nbsp
	        <a href="https://www.linkedin.com/in/alexandruoat"><i class="fa fa-2x fa-linkedin-square"></i></a>
	        <a href="https://github.com/midnitehighways/cvmaker"><i class="fa fa-2x fa-github-square"></i></a>
	        <a href="https://www.facebook.com/oat.alexander"><i class="fa fa-2x fa-facebook-square"></i></a>
	     </div>
    </div>