<ul class="tabs-menu center">
    <li ng-class="{ current:menu.isSet(7) }">
        <a href="" ng-click="menu.setTab(7)"><img class="menu-item"src="images/settings-icon.png"> Settings</a>
    </li>
    <li ng-class="{ current:menu.isSet(6) }">
        <a href="" ng-click="menu.setTab(6)"><img class="menu-item" src="images/other-icon.png"> Other</a>
    </li>
    <li ng-class="{ current:menu.isSet(5) }">
        <a href="" ng-click="menu.setTab(5)"><img class="menu-item" src="images/lang-icon.png"> Languages</a>
    </li>
    <li ng-class="{ current:menu.isSet(4) }">
        <a href="" ng-click="menu.setTab(4)"><img class="menu-item"src="images/skills-icon.png"> Skills</a>
    </li>
    <li ng-class="{ current:menu.isSet(3) }">
        <a href="" ng-click="menu.setTab(3)"><img class="menu-item size14" src="images/job-icon.png"> Employment</a>
    </li>
    <li ng-class="" class="left-side">
        <a href="/main"><img src="images/cv-icon.png" class="menu-item"> <span>cv</span>maker </a>
    </li>
    <li ng-class="{ current:menu.isSet(2) }">
        <a href="" ng-click="menu.setTab(2)"><img src="images/edu-icon.png" class="menu-item size24">Education </a>
    </li>
    <li ng-class="{ current:menu.isSet(1) }">
        <a href="" ng-click="menu.setTab(1)"><img src="images/personal.png" class="menu-item size16"> Personal</a>
    </li>
</ul>