@import url(http://fonts.googleapis.com/css?family=Raleway:300,500,700,800);

body, html {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
/*  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	/*background: #f9f7f6;
	background: #EBEDEF;*/
	/*background-color: #525659;*/
	background: #EBEDEF;
	color: #404d5b;
	font-family: 'Raleway', Arial, sans-serif;
	font-weight: 500;
	font-size: 0.9em;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px; 
	position: relative;
}

a {
	text-decoration: none;
	outline: none;
}

.center {    /*CENTERING!!!!!*/
	width: 100%;
	margin: 0 auto;
	text-align: center;
	/*overflow: hidden;*/
 }

.active {
	background-color:#228A32;
}

.yellow {
	color: yellow;
	font-weight: 900;
	letter-spacing: 4px;
}

.main {
	width: 100%;
	height: 88%;
}
.left {
	width: 29%;
	height: 100%;
	float: left;
}
.right {
	width: 70%;
	height: 100%;
	min-height: 400px;
	float: right;
}
.work-space {
	display: inline-block;
	vertical-align: middle;
	/*width: 98%;*/
	max-width: 800px;
	height: 90%;
/*	background: black;*/
	margin-top: 40px;
}
.footer {
	width: 100%;
	height: 14px;
	/*background-color: lightblue;*/
	letter-spacing: 1px;
	text-align: center;
	position: absolute;
	bottom: 5px;
	font-weight: 300;
	color: black;
	font-size: 14px;
/*	background-color: lightgrey;	*/
}

iframe {
	position:relative;
	z-index:1;
}

.icon-save { background: url('../images/save-icon.png') no-repeat 5px 4px; background-size: 18px 18px;}
.icon-download { background: url('../images/download-icon.png') no-repeat 5px 4px; background-size: 18px 18px;}
.icon-reset { background: url('../images/reset-icon.png') no-repeat 5px 5px; background-size: 18px 18px;}
.icon-clean { background: url('../images/clean-icon.png') no-repeat 5px 5px; background-size: 18px 18px;}
/*hr { 
   border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}*/
.upload-section {
	height: 90px;
}
.upload-section img {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
}
.fileUpload {				/* cover the original file input and replace it with add-button */
	position: relative;
	/*overflow: hidden;*/
	margin: 10px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
}
.buttons {
	padding-top: 50px;
}

.headmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;border: 0;
    overflow: hidden;
    background: #088A08; 
  	background: -webkit-linear-gradient(#38610B, #088A68); 
    background: -o-linear-gradient(#38610B, #088A68); 
    background: -moz-linear-gradient(#38610B, #088A68); 
    background: linear-gradient(#03401F, #0F6905);
    text-transform: uppercase;
}
.headmenu li {
    float: right;
}
#logo {
	float: left;
	margin-left: 50px;
}
.headmenu img {
	display: inline-block;
	vertical-align: middle;
	padding: 0;border: 0; margin: 0;
}
.headmenu li a {
    display: block;
    color: white;
    font-weight: 300;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

.headmenu a:hover:not(.active) {
    background-color: #041C01;
    -webkit-transition: 0.7s; /* Safari */
    transition: 0.7s;
}
/*//!!!!!!!!!*/ /*START!!!!!!!*/
/* ---------------------------------------------------- START TABS CSS ------------------------------------------------*/
.tabs-menu {
    /*padding-top: 20px; 	*/	/* move menu a bit lower to touch content-space */
    height: 60px;
    background: white;
    	/*background-image: url('../images/bgnoise_lg.png');*/
    	/*background: #EBEDEF;*/
    list-style-type: none;		/* no bullets before list items */
    text-align: center;
    		/* ONLY TEMPORARY !!!! To adjust allignment */
    min-width: 800px;			/* avoid moving tabs to 2nd row */
    /*	 border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);*/
    
    /*border-bottom: 1px solid black;
    border-top: 1px solid black;*/
}
.tabs-menu li {
 	float: right;
    height: 30px;
    line-height: 60px;
 /*display: block;   */
    text-align: center;
    width: 130px;
}
.tabs-menu li.left-side {
	float: left;
}
.tabs-menu li.left-side > a {
	color: green;
}
.tabs-menu li.current {
    /*position: relative;*/
    /*padding: 0;*/
}
.tabs-menu li a {
    text-align: center;
    display: block;
    text-transform: lowercase;
    /*color: #fff;*/
    color: #000;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none; 
    letter-spacing: 0px;
}
.tabs-menu li:hover:not(.current):not(.left-side) > a {
	color: #F0391C;
	/*background: #f9f7f6;*/
	/*background: #E4E4E4;*/
	background: #EBEDEF;
	transition: 0.6s;
}
.tabs-menu .current a {
    /*color: #2e7da3;*/
    outline: none;
    font-weight: 600;
/*    background: #f9f7f6;;
    background: grey;*/
    background: #EBEDEF;
/*    margin-right: 5px;
    margin-left: 5px;*/
    transition: 0.7s;
}
/*.tabs-menu li::after {
    display:block;
    font-weight:600;
    height:10px;
    width: 10px;
    color:black;
    overflow:hidden;
    visibility:hidden;
    content:attr(title);
    margin-bottom:-1px;
}*/
.tab {
    margin-top: 50px;
    width: auto;
}
.tab-content {
    /*display: block;*/
}
.tabs-menu img {
	height: 18px; width: 18px; 
	display: inline-block;
    vertical-align: middle; margin-bottom: 2px;
}
#menu-item-size14 {
	height: 14px;
	width: 14px; 
}
#menu-item-size24 {
	height: 24px;
	width: 24px; 
}
#menu-item-size16 {
	height: 16px;
	width: 16px; 
}

/*.menu-other {
	height: 18px; width: 18px; display: inline-block;
    vertical-align: middle; margin-bottom: 2px;
}
*/
/*#personal {				 tab active by default 
 display: block;   
}

*/

/* ---------------------------------------------------- END TABS CSS ------------------------------------------------*/

/* ---------------------------------------------------- START FORMS -------------------------------------------------*/
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 0.9em;
	width: 300px;
	/*width: calc(100% - 3em);*/
	vertical-align: top;
}
.input.long {
	width: 600px;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #000;
	font-weight: bold;
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	/*color: #6a7989;*/
	color: #111;
	font-weight: 200;
	/*font-weight: bold;*/
	font-size: 75%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}

/* Ruri */
.input__field--ruri {
	width: 100%;
	background: transparent;
	padding: 0.5em 0;
	margin-bottom: 1em;
	color: #6a7989;
}

.input__label--ruri {
	width: 100%;
	position: absolute;
	text-align: left;
	font-size: 1em;
	padding: 10px 0 5px;
	pointer-events: none;
}

.input__label--ruri::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background: #B7C3AC;
	background: grey;
	left: 0;
	top: 100%;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
	transition: transform 0.3s, background-color 0.3s;
}

.input__label-content--ruri {
	padding: 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: -webkit-transform 0.3s, color 0.3s;
	transition: transform 0.3s, color 0.3s;
	
}

.input__field--ruri:focus + .input__label--ruri::after,
.input--filled .input__label--ruri::after {
	background: #a3d39c;
	-webkit-transform: scale3d(1, 0.25, 1);
	transform: scale3d(1, 0.25, 1);
}

.input__field--ruri:focus + .input__label--ruri .input__label-content--ruri,
.input--filled .input__label--ruri .input__label-content--ruri {
	/*color: #a3d39c;*/
	-webkit-transform: translate3d(0, 2em, 0) scale3d(0.655, 0.655, 1);
	transform: translate3d(0, 2em, 0) scale3d(0.655, 0.655, 1);
	font-weight: 500;
	color: #111;
}

/* ---------------------------------------------------- END FORM CONTROLS ------------------------------------------------*/

/* ------------------------------------------------------ START DEMO.CSS -------------------------------------------------*/

/*@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}
*/
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
/*	background: #f9f7f6;
	color: #404d5b;
	font-weight: 500;
	font-size: 1.05em;
*/	font-family: 'Raleway', Arial, sans-serif;
}

/*a {
	color: #2fa0ec;
	text-decoration: none;
	outline: none;
}*/

a:hover, a:focus {
	color: #404d5b;
}

/*.container {
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}
*/
.content {
	font-size: 150%;
	padding: 3em 0;
}

.content h2 {
	margin: 0 0 2em;
	opacity: 0.1;
}

.content p {
	margin: 1em 0;
	padding: 5em 0 0 0;
	font-size: 0.65em;
}

.bgcolor-1 { background: #f0efee; }
.bgcolor-2 { background: #f9f9f9; }
.bgcolor-3 { background: #e8e8e8; }
.bgcolor-4 { background: #2f3238; color: #fff; }
.bgcolor-5 { background: #df6659; color: #521e18; }
.bgcolor-6 { background: #2fa8ec; color: #fff;}
.bgcolor-7 { background: #d0d6d6; }
.bgcolor-8 { background: #3d4444; color: #fff; }
.bgcolor-9 { background: #8781bd; color: #fff; }
.bgcolor-10 { background: #6C6C6C; }

body .nomargin-bottom {
	margin-bottom: 0;
}

/* Header */
.codrops-header {
	padding: 3em 190px 4em;
	letter-spacing: -1px;
}
.codrops-header h1 {
	font-weight: 800;
	font-size: 4em;
	line-height: 1;
	margin: 0.25em 0 0;
}
.codrops-header h1 span {
	display: block;
	font-size: 50%;
	font-weight: 400;
	padding: 0.325em 0 1em 0;
	color: #c3c8cd;
}
/* Demos nav */
.codrops-demos a {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 0.85em;
	display: inline-block;
	margin: 0 1em;
	/*font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}
.codrops-demos a.current-demo {
	border-bottom: 2px solid;
	color: #404d5b;
}
/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	font-size: 1.25em;
	text-align: center;
}
.codrops-links::after {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -1px;
	width: 2px;
	height: 100%;
	background: #dbdbdb;
	content: '';
	-webkit-transform: rotate3d(0,0,1,22.5deg);
	transform: rotate3d(0,0,1,22.5deg);
}

.codrops-icon {
	display: inline-block;
	margin: 0.5em;
	padding: 0em 0;
	width: 1.5em;
	text-decoration: none;
}

.codrops-icon span {
	display: none;
}

.codrops-icon:before {
	margin: 0 5px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon--drop:before {
	content: "\e001";
}

.codrops-icon--prev:before {
	content: "\e004";
}

/* Related demos */
.content--related {
	text-align: center;
	color: #D8DADB;
	font-weight: bold;
}

.media-item {
	display: inline-block;
	padding: 1em;
	vertical-align: top;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.media-item__img {
	opacity: 0.8;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
	opacity: 1;
}

.media-item__title {
	font-size: 0.75em;
	margin: 0;
	padding: 0.5em;
}

@media screen and (max-width: 50em) {
	.codrops-header {
		padding: 3em 10% 4em;
	}
}

@media screen and (max-width: 40em) {
	.codrops-header h1 {
		font-size: 2.8em;
	}
}
/* ---------------------------------------------------- END DEMO.CSS ------------------------------------------------*/
.my-button {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-weight: 300;
  color: #000;
  font-size: 17px;
  /*background: #dddddd;*/
  /*padding: 5px 10px 5px 10px;*/
  text-decoration: none;
  text-align: left;
  outline: none;
  margin-right: 5px;
  border: 1px solid #555;			/* remove 3d effect */
  transition: all .3s ease-in-out; 
  padding: 4px 5px 3px 30px;
}
.normal {
	padding: 5px 10px 5px 10px;
}

.my-button:hover {
  background-color: #68B986;
  border: 1px solid #68B986;
  text-decoration: none;
  transition: all .4s ease-in-out; 
}
.danger:hover {
	background-color: #F64D2F;
  border: 1px solid #F04708;
  color: white;
}